p {
    padding-left: 40px;
    padding-right: 40px;
}
html{
    scroll-behavior: smooth;
}
body {
    text-align: center;
    background: #B31510;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 9;
    color: white;
}
#info {
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
.menu {
    list-style-type: none;
    cursor: pointer;
    background-color: black;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 11;
}
.links {
    font-weight: 600;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    opacity: 100;
    float: left;
    border-right:2px solid #bbb;
}
.links:hover {
    background-color: white;
    color: white;
    border-right: 1px solid purple;
}
.m{
  display: block !important;
  color: #B31510;
  text-align: center;
  text-decoration: none;
}
.m:hover{
    color: #B31510;
}
#intro{
    padding-top: 25px;
}
h1 {
    font-family: 'Carattere', cursive;
    font-size: 40;
}
.line {
    height: 5px;
    width: 110px;
    background-color: white;
    margin: auto;
}
h2{
    font-family: 'Oswald', sans-serif;
}
h3{
    font-family: 'Roboto Mono', monospace;
}